$font-size: 62.5%;
$normal-size: 200%;
$toolbar-font: 150%;

$color-blue-light-1: #2192a9;
$color-blue-light-2: #6497b1;
$color-blue-dark-1: #3c5a6a;

$color-field-bg: #90c8d4;
$color-toolbar: #135765;

$border-wrapper: 3px;
$border-field: 0 0 3px 3px;
$border-toolbar: 3px 3px 0 0;