@import "vars";

#previeWrapper {
    margin: 1.25rem auto;
    height: auto;
    max-height: 40vh;
    max-width: 40vw;
    // -webkit-box-shadow: 0 0 10px #000;
    //         box-shadow: 0 0 10px #000;
    border-radius: $border-wrapper;
}

#preview {
    font-size: $normal-size;
    background-color: $color-field-bg;
    padding: 0.5rem;
    min-height: 30rem;
    border-radius: $border-field;
}