#editorWraper {
    height: 10vh;
    max-width: 30vw;
    margin: auto;
    -webkit-box-shadow: 0 0 10px #000;
            box-shadow: 0 0 10px #000;
    border-radius: 3px;
}

#editor {
    width: 99%;
    max-height: 30rem;
    // padding: 0 0.5rem 0.5rem 0.5rem;
    background-color: #d2e9ed;
}