#editorWraper {
    max-height: 50%;
    width: 99%;
    max-height: 30vh;
    max-width: 30vw;
    margin: 1.25rem auto;
    // -webkit-box-shadow: 0 0 10px #000;
    //         box-shadow: 0 0 10px #000;
    border-radius: 3px;
}

#editor {
    width: fill;
    min-height: 15em;
    padding: 0.5rem;
    background-color: #90c8d4;
    border-radius: 0 0 3px 3px;
}